.deskripsi {
    background-color: #c37676;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: grid;
    grid-template-rows: auto auto;
    margin: 0 auto;
    padding: 20px;
}

/* Judul */
.deskripsi h2 {
    text-align: center;
    /* background-color: #21898b; */
    padding: 10px;
    margin: 0;
    color: white;
}

/* Container utama untuk deskripsi dan library */
.deskripsi-dua {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    /* background-color: #6eb220; */
    padding: 20px;
}

/* Paragraf */
.deskripsi-dua p {
    /* background-color: #c10000; */
    /* text-align: center; */
    /* display: flex; */
    /* justify-content: center; */
    color: white;
    padding: 10px;
    border-radius: 5px;
    /* height: 100%; */
}

.deskripsi-dua p video {
    width: 100%;
    border-radius: 10px;
    margin-top: 70px;
}

/* Library yang berisi video dan gambar */
.library {
    display: grid;
    grid-template-rows: auto auto; /* Baris pertama untuk video, kedua untuk gambar */
    gap: 10px;
}

/* Video */
.library video {
    width: 100%;
    /* height: 200px; */
    border-radius: 10px;
}

/* Container untuk gambar */
.gambar-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 gambar dalam satu baris */
    gap: 10px;
}

/* Gambar */
.gambar-container img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}
